.nav-page,
.inside-roof {
  display: none;
}

.main_middle {
  width: 1720px;
  margin: 0 auto;
}

/* 头部 */
.header_wrapper {
  position: relative;
  width: 100%;
}

/* 顶部 */
.roof {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  padding: 0 3%;
  color: #656565;
  z-index: 9;
}

.roof_left {}

.roof_right {}

.roof_right i {
  margin-right: 5px;
  font-size: 16px;
  color: #009944;
}

.roof_right span {
  margin-left: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #0E0E0E;
}

/* 头部 */
.helmet {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  height: 120px;
  padding: 0 0 0 50px;
  z-index: 9;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(58, 88, 163, 0.25);
  border-radius: 5px;
  transition: width 0.1s linear, height 0.1s linear, background-color 0.1s linear;
}

.helmet_logo {
  width: 203px;
}

.helmet_logo img {
  width: 100%;
}

.helmet_menu {
  flex: 1;
  height: 100%;
  padding: 0 15px;
}

.helmet_menu>ul {
  height: 100%;
}

.helmet_menu>ul>li {
  flex: 1;
  height: 100%;
  line-height: 120px;
  position: relative;
  text-align: center;
}

.helmet_menu>ul>li>a {
  display: block;
  font-size: 18px;
}

.helmet_menu>ul>li:hover>a {
  color: #3A58A3;
  font-weight: bold;
}

.helmet_menu>ul>li .pop {
  position: absolute;
  display: none;
  width: 100%;
  top: 105px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.helmet_menu>ul>li:hover .pop {
  display: block;
}

.helmet_menu>ul>li .pop a {
  display: block;
  height: 38px;
  line-height: 38px;
  text-align: center;
  transition: background-color 0.2s linear;
}

.helmet_menu>ul>li .pop a:hover {
  color: #fff;
  background-color: #3A58A3;
}

.menu_phone {
  display: none;
  margin-right: 30px;
}

/* 滑动后样式 */
.helmet_pull_down {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  border-radius: 0;
}

/* banner */
.banner_wrapper {
  position: relative;
  width: 100%;
  height: 990px;
}

.banner_wrapper::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 140px;
  background: linear-gradient(to top, transparent, rgba(255, 255, 255, 0.8));
  z-index: 2;
}

.banner_wrapper .banner-swiper-container,
.banner_wrapper .banner-swiper-container .ani {
  height: 100%;
}

.banner_wrapper .swiper-slide {
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner_wrapper .swiper-pagination {
  bottom: 70px !important;
}

.banner_wrapper .swiper-pagination .my-bullet {
  margin: 0 6px;
  width: 40px;
  height: 6px;
  border-radius: 4px;
  background-color: #ffffff;
}

.banner_wrapper .swiper-pagination .my-bullet-active {
  background-color: #1C499E;
}

/* banner_bottom_wrapper */
.banner_bottom_wrapper {
  width: 100%;
  height: 100px;
  background-color: #1C499E;
}

.banner_bottom {
  color: #fff;
  height: 100%;
}

.banner_bottom .jewel {
  margin-right: 40px;
  font-size: 40px;
}

.bb_text {
  flex: 1;
  line-height: 2em;
}

.bb_search {
  width: 310px;
  height: 44px;
  margin-left: 275px;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.bb_search input {
  border: 0;
  flex: 1;
  padding: 0 15px;
  background-color: transparent;
}

.bb_search button {
  width: 44px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.bb_search button .search {
  color: #1C499E;
}

/* index_title */
.index_title {
  width: 100%;
  padding: 80px 0 50px;
}

.index_title_cn {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1em;
  color: #000000;
}

.index_title_cn span {
  color: #197EC7;
  font-weight: bold;
}

.index_title_white {
  color: #FFFFFF !important;
}

.index_title_white span {
  color: #FFFFFF !important;
}

.index_title_en {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: #C6C6C6;
}

.index_title_en i {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;
  background: #01A54F;
  border-radius: 50%;
}

.index_title_en i::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  display: block;
  width: 216px;
  height: 1px;
  background-color: #CCCCCC;
}

.index_title_en i:first-of-type {
  margin-right: 20px;
}

.index_title_en i:first-of-type::before {
  right: 14px;
}

.index_title_en i:last-of-type {
  margin-left: 20px;
}

.index_title_en i:last-of-type::before {
  left: 14px;
}

/* lab_category */
.lab_wrapper {
  width: 100%;
}

.lab_category {
  margin-bottom: 72px;
}

.lab_category_item {
  flex: 1;
  height: 132px;
  margin-right: 3.3%;
  cursor: pointer;
}

.lab_category_item:last-of-type {
  margin-right: 0;
}

.lab_category_item .lci_left {
  position: relative;
  width: 75%;
  background-color: #197EC7;
}

.lab_category_item .lci_left::before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #01A54F;
  transition: width 0.1s linear;
}

.lab_category_item:hover .lci_left::before {
  width: 100%;
}

.lab_category_item .lci_left .lci_main {
  position: relative;
  height: 100%;
  color: #ffffff;
}

.lab_category_item .lci_left .lci_main .iconfont {
  margin-bottom: 10px;
  font-size: 48px;
}

.lab_category_item:last-of-type .lci_left .lci_main .iconfont {
  font-size: 40px;
}

.lab_category_item .lci_left .lci_main .lci_text {
  font-size: 16px;
  font-weight: bold;
}

.lab_category_item .lci_right {
  position: relative;
  flex: 1;
  background-color: #E4E7E9;
}

.lab_category_item .lci_right::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #55595C;
  transition: width 0.1s linear;
}

.lab_category_item:hover .lci_right::before {
  width: 100%;
}

.lab_category_item .lci_right .iconfont {
  position: relative;
  font-size: 20px;
}

.lab_category_item:hover .lci_right .iconfont {
  color: #FFFFFF;
}

/* lab_list */
.lab_list {
  width: 100%;
}

.lab_list_item {
  display: block;
  width: 22.3%;
  margin-bottom: 50px;
}

.lab_list_item .lli_img {
  overflow: hidden;
}

.lab_list_item .lli_img img {
  width: 100%;
  transition: transform 0.2s linear;
}

.lab_list_item:hover .lli_img img {
  transform: scale(1.1);
}

.lab_list_item .lli_bottom {
  padding: 0 30px 0 20px;
  height: 76px;
  border-bottom: 1px solid #E3E3E3;
  transition: background-color 0.2s linear, border-width 0.2s linear;
}

.lab_list_item .lli_bottom span {
  font-size: 16px;
  transition: color 0.2s linear;
}

.lab_list_item .lli_bottom i {
  font-size: 20px;
  color: #CDCDCD;
  transition: transform 0.2s linear, color 0.2s linear;
}

.lab_list_item:hover .lli_bottom {
  border-bottom: 3px solid #282D30;
  background-color: #006EBD;
}

.lab_list_item:hover .lli_bottom span {
  color: #fff;
}

.lab_list_item:hover .lli_bottom i {
  color: #fff;
  transform: rotateZ(-45deg);
}

/* index_more */
.index_more {
  display: block;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  color: #FFFFFF;
  background-color: #197EC7;
  transition: width 0.2s linear;
}

.index_more:hover {
  color: #fff;
  width: 200px;
}


/* lab_more */
.lab_more {
  margin: 0 auto 65px;
  width: 150px;
  transition: width 0.2s linear;
}

.lab_more:hover {
  width: 200px;
}

/* company_wrapper */
.company_wrapper {
  width: 100%;
  height: 1010px;
  background-image: url('../images/aboutbg.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.company_top {
  margin-bottom: 120px;
}

.index_left_title {
  width: 280px;
}

.company_title {
  padding-top: 180px;
}

.index_left_title .index_left_title_en {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #C6C6C6;
  line-height: 1em;
  text-transform: uppercase;
}

.index_left_title .index_left_title_cn {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  line-height: 1em;
}

.company_top_right {
  flex: 1;
  padding: 120px 0 0 0;
}

.company_top_right .ctr_text {
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 2em;
}

.company_bottom {}

.company_bottom_item {
  width: 19.7%;
  height: calc(100vw / 6);
  text-align: center;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.company_bottom_item i {
  font-size: 60px;
  color: #197EC7;
  transition: color 0.2s linear;
}

.company_bottom_item:first-of-type i {
  font-size: 80px;
}

.company_bottom_item p {
  margin: 15px 0 10px;
  font-size: 26px;
  font-weight: bold;
  color: #000000;
  transition: color 0.2s linear;
}

.company_bottom_item span {
  font-size: 18px;
  font-weight: bold;
  color: #A3A4A5;
  transition: color 0.2s linear;
}

.company_bottom_item:hover {
  background-color: #197EC7;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.company_bottom_item:hover i,
.company_bottom_item:hover p,
.company_bottom_item:hover span {
  color: #FFFFFF;
}

/* after_sales */
.after_sales_wrapper {
  height: 430px;
  background-color: #E4E7E9;
}

.sales_list {
  width: 1160px;
  margin: 0 auto;
}

.sales_item {
  position: relative;
  width: 245px;
  height: 110px;
  background-color: #FFFFFF;
  border: 2px solid #DFDFDF;
  cursor: pointer;
  transition: border-color 0.2s linear;
}

.sales_item:hover:nth-of-type(odd) {
  border-color: #197EC7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.sales_item:hover:nth-of-type(even) {
  border-color: #01A54F;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.sales_item .sales_left {
  position: absolute;
  width: 85px;
  height: 85px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 30px;
  transition: width 0.2s linear, height 0.2s linear;
}

.sales_item:nth-of-type(odd) .sales_left {
  background-color: #197EC7;
}

.sales_item:nth-of-type(even) .sales_left {
  background-color: #01A54F;
}

.sales_item .sales_right {
  position: absolute;
  width: 130px;

  height: 110px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 18px;
  color: #555555;
  transition: width 0.2s linear, color 0.2s linear;
}

.sales_item:hover .sales_left {
  width: 110px;
  height: 110px;
}

.sales_item:hover:nth-of-type(odd) .sales_right {
  color: #197EC7;
}

.sales_item:hover:nth-of-type(even) .sales_right {
  color: #01A54F;
}

/* service_solution_wrapper */
.service_solution_wrapper {
  width: 100%;
  height: 990px;
  padding-top: 20px;
  background-image: url('../images/probg.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.solution_category {
  margin: 40px 0;
}

.solution_category a {
  position: relative;
  display: block;
  margin: 0 50px;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}

.solution_category a::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 1px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
  background-color: #197EC7;
  transition: left 0.2s linear, opacity 0.2s linear;
}

.solution_category a:hover {
  color: #74BFF5;
}

.solution_category a:hover:before {
  left: -25px;
  opacity: 1;
}

/* solution_list */
.solution_list {}

.solution_list .swiper-slide {
  text-align: center;
  /* padding: 0 calc((100vw - 920px) * 0.1);
  width: 920px; */
  padding: 0 100px;
  width: 840px;
}

.solution_list .inner figure {
  width: 100%;
}

.solution_list .inner figure img {
  width: 100%;
  border-radius: 15px;
}

.solution_list .inner .gallery-item-desc {
  width: 90%;
  text-align: left;
  display: inline-block;
  padding-top: 32px;
  transition: transform 1.2s linear;
}

.solution_list .inner .gallery-item-desc h3.typography-label {
  font-size: 24px;
  color: #FFFFFF;
  line-height: 30px;
}

.solution_list .inner .gallery-item-desc p.typography-body {
  margin-top: 20px;
  color: #FFFFFF;
  line-height: 2em;
}

.solution_list .swiper-slide-prev .gallery-item-desc {
  transform: translateX(-70px);
}

.solution_list .swiper-slide-next .gallery-item-desc {
  transform: translateX(70px);
}

.solution_list .swiper-slide-active .gallery-item-desc {
  opacity: 1;
  transform: translateX(0);
}

.solution_list .swiper-button-next,
.solution_list .swiper-button-prev {
  top: 35%;
  background-color: rgba(255, 255, 255, 0.2);
  background-size: 15px 15px;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  transition: all 0.5s;
  outline: none;
  opacity: 0;
}

.solution_list .mouse-hover .swiper-button-next,
.solution_list .mouse-hover .swiper-button-prev {
  opacity: 1;
}

.solution_list .swiper-button-next:hover,
.solution_list .swiper-button-prev:hover {
  background-color: #00CCFF;
}

.solution_list .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  right: 550px;
}

.solution_list .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  left: 550px;
}

.solution_list .solution-swiper-container .swiper-button-next.swiper-button-disabled,
.solution_list .solution-swiper-container .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

/* service_scope_wrapper */
.service_scope_wrapper {
  margin: 115px 0 140px;
}

.service_scope {}

.scope_top {
  margin-bottom: 80px;
}

.scope_top .scope_main {
  margin-bottom: 20px;
  flex: 1;
}

.scope_top .scope_main .scope_main_title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #197EC7;
  line-height: 1.6em;
}

.scope_top .scope_main .scope_main_info {
  line-height: 2em;
}

.scope_top .scope_more {
  margin-bottom: 20px;
  margin-left: 320px;
}

.scope_bottom {}

.scope_item {
  text-align: center;
  cursor: pointer;
  transition: color 0.2s linear;
}

.scope_item:hover {
  color: #197EC7;
}

.scope_item .scope_icon {
  width: 140px;
  height: 140px;
  margin-bottom: 40px;
  line-height: 140px;
  border: 2px solid #A0A0A0;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
  transition: border-color 0.2s linear, background-color 0.2s linear, transform 0.2s linear;
}


.scope_item:hover .scope_icon {
  border-color: #197EC7;
  transform: rotateY(360deg);
  background-color: rgba(25, 126, 199, 0.1);
}

.scope_item:nth-of-type(1) .scope_icon span {
  font-size: 100px;
}

.scope_item:nth-of-type(2) .scope_icon span {
  font-size: 94px;
}

.scope_item:nth-of-type(3) .scope_icon span {
  font-size: 90px;
}

.scope_item .scope_icon span {
  display: block;
  font-size: 76px;
}

.scope_item .scope_txt {
  font-size: 24px;
  line-height: 1em;
}

.scope_arrow {
  margin-top: 60px;
  font-size: 30px;
  color: #C0C0C0;
}

/* information_wrapper */
.information_wrapper {
  width: 100%;
  height: 990px;
  padding-top: 20px;
  background-image: url('../images/newbg.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.information_list {}

.info_item {
  width: 25%;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-right: 1px solid #ECECEC;
  transition: background-color 0.2s linear;
}

.info_item:hover {
  background-color: #FFFFFF;
}

.info_item:last-of-type {
  border-right: none;
}

.info_item .info_top {
  margin-bottom: 65px;
}

.info_item .info_top .info_time {
  font-size: 30px;
  font-weight: bold;
  line-height: 1em;
  color: #555555;
}

.info_item .info_top .info_arrow {
  width: 66px;
  height: 66px;
  text-align: center;
  line-height: 66px;
  background-color: #FFFFFF;
  border-radius: 50%;
  transform: rotateZ(-45deg);
  transition: background-color 0.2s linear, transform 0.2s linear;
}

.info_item:hover .info_top .info_arrow {
  background-color: #006EBD;
  transform: rotateZ(0deg);
}

.info_item .info_top .info_arrow span {
  font-size: 22px;
  color: #B5B5B5;
  transition: color 0.2s linear;
}

.info_item:hover .info_top .info_arrow span {
  color: #fff;
}

.info_item .info_title {
  margin-bottom: 25px;
  font-size: 20px;
  color: #000000;
  line-height: 1em;
}

.info_item .info_txt {
  margin-bottom: 25px;
  line-height: 1.8em;
  color: #555555;
}

.info_item .info_img {
  width: 330px;
  height: 220px;
  overflow: hidden;
}

.info_item .info_img img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s linear;
}

.info_item:hover .info_img img {
  transform: scale(1.1);
}

/* case_wrapper */
.case_wrapper {
  padding: 90px 0;
}

.case_left {
  padding-bottom: 130px;
}

.case_right {
  flex: 1;
  margin-left: 60px;
}

.case_item {
  width: 192px;
  height: 118px;
  margin: 0 40px 40px 0;
  border: 1px solid rgba(138, 138, 138, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(138, 138, 138, 0.25);
  border-radius: 5px;
  overflow: hidden;
}

.case_item:nth-of-type(6n) {
  margin-right: 0;
}

.case_item img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s linear;
}

.case_item:hover img {
  transform: scale(1.1);
}

/* page_link */
.page_link {
  height: 80px;
  color: #FFFFFF;
  background-color: rgba(71, 177, 52, 1);
}

.page_link .main_middle {
  height: 100%;
}

.page_link i {
  font-size: 20px;
}

.page_link p {
  margin: 0 15px;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
}

.page_link .page_link_list {
  flex: 1;
}

.page_link .page_link_list a {
  color: #FFFFFF;
  margin-right: 10px;
}

.page_link .page_link_list a::after {
  content: '|';
  margin-left: 10px;
  color: #FFFFFF;
}

.page_link .page_link_list a:last-of-type:after {
  content: '';
}

/* bottom_wrapper */
.bottom_wrapper {
  background-color: rgba(50, 54, 57, 1);
}

.bottom_contact {
  width: 280px;
  margin: 65px 80px 0 0;
}

.bottom_contact_title {
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 1em;
}

.bottom_contact_line {
  width: 280px;
  height: 2px;
  margin: 15px 0;
  background-color: #FFFFFF;
}

.bottom_contact_info {}

.bottom_contact_info ul li {
  color: #999999;
  line-height: 36px;
}

.bottom_contact_info ul li span {
  margin-right: 10px;
  font-size: 22px;
  color: #FFFFFF;
}

.bottom_category {
  flex: 1;
  margin: 65px 0 45px 0;
}

.bottom_category dl {
  flex: 1;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.bottom_category dt {
  margin-bottom: 20px;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 1em;
}

.bottom_category dd {
  line-height: 1.8em;
}

.bottom_category dd a {
  color: #999999;
}

.bottom_category dd:hover a {
  color: #FFFFFF;
}

.bottom_code {
  width: 180px;
  padding: 65px 0 100px 0;
  text-align: center;
  background-color: rgba(66, 70, 72, 1);
}

.bottom_code img {
  width: 142px;
  height: 142px;
  margin-bottom: 25px;
}

.bottom_code p {
  color: #FFFFFF;
  line-height: 20px;
}

/* footer */
.footer_wrapper {
  height: 80px;
  background-color: rgba(40, 45, 48, 1);
}

.footer {
  height: 100%;
}

.footer_left {
  height: 100%;
  color: #5F5F5F;
  line-height: 1.8em;
}

.footer_left a {
  color: #5F5F5F;
}

.footer_left a:hover {
  color: #FFFFFF;
}

.footer_right {
  width: 180px;
  height: 100%;
  color: #FFFFFF;
  background-color: rgba(0, 110, 189, 1);
  cursor: pointer;
}

.footer_right span {
  margin-right: 10px;
  font-size: 36px;
}