@media screen and (max-width: 767px) {

  /* 弹出导航 */
  .nav-page {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: all 0.2s linear;
  }

  .nav-phone {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  }

  .nav-list {
    padding-top: 2rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav-list a {
    width: 80%;
    height: 1rem;
    line-height: 1rem;
    border-bottom: 1px solid #e1e1e1;
  }

  .nav-list-active {
    color: #b11d03;
    background-color: #f5f5f5;
    border-bottom: 1px solid #b11d03 !important;
  }

  .close-phone-nav {
    position: absolute;
    top: 0.31rem;
    left: 0.24rem;
    width: 0.68rem;
    height: 0.68rem;
    z-index: 999;
  }

  .close-phone-nav::before,
  .close-phone-nav::after {
    position: absolute;
    display: block;
    content: "";
    width: 0.68rem;
    height: 0.04rem;
    color: #fff;
    background-color: #999;
    transform-origin: center;
  }

  .close-phone-nav::before {
    top: 0.19rem;
  }

  .close-phone-nav::after {
    top: 0.45rem;
  }

  .close-phone-nav-active::before {
    top: 0.33rem;
    transform: rotate(135deg);
  }

  .close-phone-nav-active::after {
    top: 0.33rem;
    transform: rotate(-135deg);
  }

  /* phone内页头部 */
  .inside-roof {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 1.3rem;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 0.24rem rgba(0, 0, 0, 0.3);
  }

  .inside-roof-icon {
    position: absolute;
    z-index: 9;
    top: 0.31rem;
    left: 0.24rem;
    width: 0.68rem;
    height: 0.68rem;
  }

  .inside-roof-icon::before,
  .inside-roof-icon::after {
    position: absolute;
    display: block;
    content: "";
    width: 0.68rem;
    height: 0.04rem;
    color: #fff;
    background-color: #999;
    transform-origin: center;
  }

  .inside-roof-icon::before {
    top: 0.19rem;
  }

  .inside-roof-icon::after {
    top: 0.45rem;
  }

  .inside-roof-icon-active::before {
    top: 0.33rem;
    transform: rotate(135deg);
  }

  .inside-roof-icon-active::after {
    top: 0.33rem;
    transform: rotate(-135deg);
  }

  .inside-roof-logo {
    position: absolute;
    width: 100%;
    height: 1rem;
    top: 50%;
    left: 50%;
    font-size: 0.36rem;
    transform: translate(-50%, -50%);
  }

  .inside-roof-logo img {
    height: 100%;
    margin-right: 0.1rem;
  }

  /* .forPhone {
    height: 1.3rem;
  } */

  .main_middle {
    width: 100%;
  }

  /* 头部 */
  .header_wrapper {
    position: relative;
    width: 100%;
  }

  /* 顶部 */
  /* 头部 */
  .roof,
  .helmet {
    display: none;
  }

  /* banner */
  .banner_wrapper {
    height: 45vh;
  }

  .banner_wrapper::before {
    height: 2.3rem;
  }

  .banner_wrapper .banner-swiper-container .ani img {
    max-width: 70vw;
  }

  .banner_wrapper .swiper-pagination {
    bottom: 0.5rem !important;
  }

  .banner_wrapper .swiper-pagination .my-bullet {
    margin: 0 0.1rem;
    width: 0.7rem;
    height: 0.1rem;
    border-radius: 0.1rem;
  }


  /* banner_bottom_wrapper */
  .banner_bottom_wrapper {
    padding: 0.24rem;
    height: auto;
  }

  .banner_bottom {
    flex-wrap: wrap;
    color: #fff;
    height: 100%;
  }

  .banner_bottom .jewel {
    margin-right: 0.5rem;
    font-size: 0.8rem;
  }

  .bb_search {
    width: 100%;
    height: 0.8rem;
    margin-top: 0.2rem;
    margin-left: 0;
  }

  .bb_search input {
    padding: 0 0.3rem;
  }

  .bb_search button {
    width: 0.8rem;
  }

  /* index_title */
  .index_title {
    text-align: center;
    padding: 0.5rem 0.24rem 0.3rem;
  }

  .index_title_cn {
    margin-bottom: 0.3rem;
    font-size: 0.5rem;
    line-height: 1.2em;
  }

  .index_title_cn span {
    display: block;
  }

  .index_title_en {
    font-size: 0.3rem;
  }

  .index_title_en i {
    width: 0.2rem;
    height: 0.2rem;
  }

  .index_title_en i::before {
    width: 3rem;
  }

  .index_title_en i:first-of-type {
    margin-right: 0.1rem;
  }

  .index_title_en i:first-of-type::before {
    right: 0.2rem;
  }

  .index_title_en i:last-of-type {
    margin-left: 0.1rem;
  }

  .index_title_en i:last-of-type::before {
    left: 0.2rem;
  }

  /* lab_category */
  .lab_category {
    padding: 0 0.24rem;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .lab_category_item {
    flex: 0 1 auto;
    width: 45%;
    height: 1.8rem;
    margin: 0 3% 0.24rem 0;
  }

  .lab_category_item:nth-of-type(2n) {
    margin-right: 0;
  }

  .lab_category_item .lci_left .lci_main .iconfont {
    margin-bottom: 0.1rem;
    font-size: 0.6rem;
  }

  .lab_category_item:last-of-type .lci_left .lci_main .iconfont {
    font-size: 0.6rem;
  }

  .lab_category_item .lci_left .lci_main .lci_text {
    font-size: 0.26rem;
  }


  .lab_category_item .lci_right .iconfont {
    font-size: 0.3rem;
  }

  /* lab_list */
  .lab_list {
    padding: 0 0.24rem;
  }

  .lab_list_item {
    width: 48%;
    margin-bottom: 0.3rem;
  }

  .lab_list_item .lli_bottom {
    padding: 0 0.24rem;
    height: 0.8rem;
  }

  .lab_list_item .lli_bottom span {
    font-size: 0.26rem;
  }

  .lab_list_item .lli_bottom i {
    font-size: 0.3rem;
  }

  /* index_more */
  .index_more {
    width: 3rem;
    height: 0.8rem;
    line-height: 0.8rem;
  }

  .index_more:hover {
    width: 4rem;
  }


  /* lab_more */
  .lab_more {
    margin: 0 auto 0.5rem;
    width: 3rem;
  }

  .lab_more:hover {
    width: 4rem;
  }

  /* company_wrapper */
  .company_wrapper {
    height: auto;
    padding: 0 0.24rem;
  }

  .company_top {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .index_left_title {
    width: auto;
  }

  .company_title {
    padding-top: 0.5rem;
  }

  .index_left_title .index_left_title_en {
    margin-bottom: 0.2rem;
    font-size: 0.36rem;
  }

  .index_left_title .index_left_title_cn {
    font-size: 0.5rem;
  }

  .company_top_right {
    flex: 1;
    padding: 0.24rem 0 0 0;
  }

  .company_top_right .ctr_text {
    margin-bottom: 0.3rem;
    font-size: 0.26rem;
  }

  .company_bottom {
    flex-wrap: wrap;
  }

  .company_bottom_item {
    width: 49%;
    height: calc(100vw / 2.3);
    margin-bottom: 0.24rem;
  }

  .company_bottom_item i {
    font-size: 0.8rem;
  }

  .company_bottom_item:first-of-type i {
    font-size: 1.3rem;
  }

  .company_bottom_item p {
    margin: 0.1rem 0;
    font-size: 0.4rem;
  }

  .company_bottom_item span {
    font-size: 0.24rem;
  }


  /* after_sales */
  .after_sales_wrapper {
    height: auto;
    background-color: #E4E7E9;
  }

  .sales_list {
    width: 100%;
    flex-wrap: wrap;
    padding: 0 0.24rem;
  }

  .sales_item {
    width: 49%;
    height: 1.5rem;
    margin-bottom: 0.24rem;
  }

  .sales_item .sales_left {
    width: 1.1rem;
    height: 1.1rem;
    font-size: 0.28rem;
    line-height: 1.4em;
  }

  .sales_item .sales_right {
    width: 2rem;
    height: 1.5rem;
    font-size: 0.26rem;
  }

  .sales_item:hover .sales_left {
    width: 1.5rem;
    height: 1.5rem;
  }

  /* service_solution_wrapper */
  .service_solution_wrapper {
    height: auto;
    padding: 0 0 0.5rem;
  }

  .solution_category {
    margin: 0.5rem 0;
  }

  .solution_category a {
    margin: 0 0.1rem;
    font-size: 0.26rem;
  }

  .solution_category a::before {
    display: none;
  }

  /* solution_list */
  .solution_list .swiper-slide {
    text-align: center;
    padding: 0 0.24rem;
    width: 100vw;
  }

  .solution_list .inner figure img {
    border-radius: 0.3rem;
  }

  .solution_list .inner .gallery-item-desc {
    width: 90%;
    padding-top: 0.4rem;
  }

  .solution_list .inner .gallery-item-desc h3.typography-label {
    font-size: 0.36rem;
    line-height: 1em;
  }

  .solution_list .inner .gallery-item-desc p.typography-body {
    margin-top: 0.3rem;
  }

  .solution_list .swiper-slide-prev .gallery-item-desc {
    transform: translateX(-2rem);
  }

  .solution_list .swiper-slide-next .gallery-item-desc {
    transform: translateX(2rem);
  }


  .solution_list .swiper-button-next,
  .solution_list .swiper-button-prev {
    top: 35%;
    width: 1rem;
    height: 1rem;
    opacity: 1;
  }

  .solution_list .swiper-button-next {
    right: 0;
  }

  .solution_list .swiper-button-prev {
    left: 0;
  }

  /* service_scope_wrapper */
  .service_scope_wrapper {
    margin: 0;
    padding: 0.5rem 0.24rem 0.26rem;
  }

  .scope_top {
    flex-direction: column;
    margin-bottom: 0.5rem;
  }

  .scope_top .scope_main {
    margin: 0.15rem 0;
    flex: 1;
  }

  .scope_top .scope_main .scope_main_title {
    margin-bottom: 0.2rem;
    font-size: 0.34rem;
  }

  .scope_top .scope_more {
    margin-bottom: 0;
    margin-left: 0;
  }

  .scope_bottom {
    flex-wrap: wrap;
  }

  .scope_item {
    margin-bottom: 0.24rem;
  }

  .scope_item .scope_icon {
    width: 27vw;
    height: 27vw;
    margin-bottom: 0.2rem;
    line-height: 27vw;
  }

  .scope_item:nth-of-type(1) .scope_icon span {
    font-size: 1.5rem;
  }

  .scope_item:nth-of-type(2) .scope_icon span {
    font-size: 1.4rem;
  }

  .scope_item:nth-of-type(3) .scope_icon span {
    font-size: 1.3rem;
  }

  .scope_item .scope_icon span {
    font-size: 1.2rem;
  }

  .scope_item .scope_txt {
    font-size: 0.3rem;
  }

  .scope_arrow {
    display: none;
  }

  /* information_wrapper */
  .information_wrapper {
    height: auto;
    padding: 0 0 0.26rem;
  }

  .information_list {
    padding: 0 0.24rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .info_item {
    width: 100%;
    margin-bottom: 0.24rem;
    padding: 0.24rem;
  }

  .info_item .info_top {
    margin-bottom: 0.3rem;
  }

  .info_item .info_top .info_time {
    font-size: 0.5rem;
  }

  .info_item .info_top .info_arrow {
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
  }

  .info_item .info_top .info_arrow span {
    font-size: 0.4rem;
  }

  .info_item .info_title {
    margin-bottom: 0.2rem;
    font-size: 0.34rem;
  }

  .info_item .info_txt {
    margin-bottom: 0.2rem;
  }

  .info_item .info_img {
    width: 100%;
    height: auto;
  }

  /* case_wrapper */
  .case_wrapper {
    padding: 0.5rem 0.24rem;
    flex-direction: column;
  }

  .case_left {
    padding-bottom: 0.3rem;
  }

  .case_left .index_left_title {
    margin-bottom: 0.3rem;
  }

  .case_right {
    flex: 1;
    margin-left: 0;
  }

  .case_item {
    width: 32%;
    height: auto;
    margin: 0 0 0.2rem;
  }

  /* page_link */
  .page_link {
    height: auto;
  }

  .page_link .main_middle {
    padding: 0.24rem;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .page_link i {
    font-size: 0.36rem;
  }

  .page_link p {
    margin: 0 0.2rem;
    font-size: 0.3rem;
  }

  .page_link .page_link_list {
    flex: 0 1 auto;
    width: 100%;
    margin-top: 0.2rem;
  }

  .page_link .page_link_list a {
    margin-right: 0.1rem;
  }

  .page_link .page_link_list a::after {
    margin-left: 0.1rem;
  }

  /* bottom_wrapper */
  .bottom {
    flex-direction: column;
  }

  .bottom_contact {
    width: 100%;
    margin: 0.5rem 0 0 0;
    padding: 0 0.24rem;
  }

  .bottom_contact_title {
    font-size: 0.34rem;
  }

  .bottom_contact_line {
    width: 100%;
    margin: 0.2rem 0;
  }

  .bottom_contact_info {
    padding: 0 0.24rem;
  }

  .bottom_contact_info ul li {
    line-height: 0.6rem;
  }

  .bottom_contact_info ul li span {
    margin-right: 0.2rem;
    font-size: 0.34rem;
  }

  .bottom_category {
    flex-wrap: wrap;
    margin: 0;
    padding: 0.24rem;
  }

  .bottom_category dl {
    flex: 0 1 auto;
    width: 50%;
    padding: 0.5rem 0 0.24rem 0;
    border-left: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }

  .bottom_category dl:nth-of-type(even) {
    border-right: none;
  }


  .bottom_category dt {
    margin-bottom: 0.3rem;
    font-size: 0.28rem;
  }

  .bottom_code {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.24rem;
  }

  .bottom_code img {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.3rem;
    margin-bottom: 0;
  }

  .bottom_code p {
    line-height: 2em;
  }

  /* footer */
  .footer_wrapper {
    position: relative;
    height: 1.8rem;
  }

  .footer_left {
    flex-direction: column;
    padding: 0.24rem;
    align-items: flex-start;
    font-size: 0.24rem;
  }

  .footer_right {
    position: absolute;
    right: 0;
    top: -2.28rem;
    width: 2.6rem;
    height: 2.28rem;
  }

  .footer_right span {
    margin-right: 0.2rem;
    font-size: 0.6rem;
  }
}