@font-face {
  font-family: "iconfont"; /* Project id 3456320 */
  src: url('iconfont.woff2?t=1656943700053') format('woff2'),
       url('iconfont.woff?t=1656943700053') format('woff'),
       url('iconfont.ttf?t=1656943700053') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kongqijinghuaqi-f:before {
  content: "\e6ad";
}

.icon-jiantou_liebiaoxiangyou:before {
  content: "\eb03";
}

.icon-qiti:before {
  content: "\e607";
}

.icon-jiaju:before {
  content: "\e609";
}

.icon-shiyanshi:before {
  content: "\e632";
}

.icon-lianjie:before {
  content: "\e612";
}

.icon-a-28tongfengfengshan:before {
  content: "\e604";
}

.icon-huaxuehuagong:before {
  content: "\e616";
}

.icon-shipin:before {
  content: "\e618";
}

.icon-yanjiuyuansuo:before {
  content: "\e68f";
}

.icon-yunwei-xitongjiance:before {
  content: "\e61a";
}

.icon-drug-full:before {
  content: "\e88a";
}

.icon-huidaodingbu:before {
  content: "\e619";
}

.icon-diamond:before {
  content: "\e61d";
}

.icon-sousuo:before {
  content: "\e63b";
}

.icon-houqiweihuweihuweihuguanli:before {
  content: "\e68e";
}

.icon-youjiantou:before {
  content: "\e624";
}

.icon-dianhua1:before {
  content: "\e88b";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-dizhi:before {
  content: "\e6ab";
}

.icon-xiaoshou:before {
  content: "\e631";
}

.icon-aixin:before {
  content: "\e6c8";
}

.icon-tiaoshi:before {
  content: "\e611";
}

.icon-anzhuangshouce:before {
  content: "\e7e9";
}

.icon-caidanlan-shengchan-shengchandan:before {
  content: "\e661";
}

.icon-zuojiantou:before {
  content: "\e68d";
}

.icon-dianhua:before {
  content: "\e6cb";
}

